/*reset*/
*{
  margin: 0;
  padding: 0; 
}

/*style Desktop*/

body{
    color: #FFFFFF;
    background-color: #0e1014}

header img{
    display: block;
    margin: 75px 0 0 360px;
}
h1{ 
    text-align: center;
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-display: swap;
    margin-top: 60px;
}

h1 span{
    color:#9747FF
}

p{
    text-align: center;
    font-size: 24px;
    font-family: "poppins", sans-serif;
    width: 792px;
    margin: 24px auto 0;
}

a{
    font-family: "poppins", "sans-serif";
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 20px auto;
}

a:hover {
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792;
    height: 446px;
    margin: auto;

}

@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }
    p{
        width: 648px;
        margin: 24px auto 0;
    }
    
}

@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 341px;
        margin: 24px auto 0;
    }
    section img{
        width: 340px;
        height: 230px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
}